.navbar {
    background-color: #29b6f6 !important;
}
.brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
}
.nav-container{
    position: relative;
    height: 100%;
}